<div class="container">
  <% if @errors.present? %>
    <% @errors.each do |err| %>
      <div class="row">
        <%= err %>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <%= form_for @task, url: {action: @task.persisted? ? :update : :create, controller: :tasks} do |f| %>
      <div class="form-group">
        <label>Title</label>
        <%= f.text_field :title, class:"form-control" %>
      </div>
      <div class="form-group">
        <label>Description</label>
        <%= f.text_field :description, class:"form-control" %>
      </div>
      <div class="form-group">
        <label>Completed at</label>
        <%= f.text_field :completed_at, class:"form-control" %>
      </div>
      <div class="form-group">
        <label>Assignee</label>
        <%= f.collection_select :user_id, User.all || [], :id, :email, {include_blank: true}, { class: "form-control" } %>
      </div>
      <div class="form-group">
        <label>Status</label>
        <%= f.select "status", options_for_select(Task.statuses.map {|k, v| k}, @task.status), {}, { class: "form-control" } %>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
      <%= link_to "Back", tasks_path, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
